# .idea cleanup
.idea/workspace.xml
.idea/shelf/
.idea/dataSources.xml
.idea/dataSources/
.idea/httpRequests/
.idea/usage.statistics.xml
.idea/assetWizardSettings.xml

# Keep only shared config
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/codeStyles/
!.idea/inspectionProfiles/
